body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,footer {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E3173;
}

.header_text,.footer_text {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* ------------------------------------------------ */

.form {
    width: 496px;
    height: 645px;
    flex-shrink: 0;

    border-radius: 12px;
    border: 1px solid rgba(30, 49, 115, 0.30);
    background: #FFF;

    margin: 112px 0px;
}

.form__top {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}

.form__top_text {
    margin: 40px 0px 26px 0px;

    color: #000;
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}

.form__top_LFor {
    display: flex;
    width: 416px;
    height: 48px;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    border-radius: 48px;
    background-color: #F2F4F5;
}

.form__top_LFor_Lblock {
    width: 207px;
    height: 45px;
    position: absolute;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    border-radius: 6px;
    background: rgba(255, 255, 255, 0.00);
    transition: 0.3s;
}

.form__top_LFor_Rblock {
    width: 207px;
    height: 45px;
    position: absolute;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    border-radius: 6px;
    background: rgba(255, 255, 255, 0.00);
    transition: 0.3s;
}


.form__top_LFor_Lblock.active {
    width: 207px;
    height: 45px;
    position: absolute;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    border-radius: 46px;
    background: #FFF;
    transition: 0.3s;
}

.form__top_LFor_Rblock.active {
    width: 207px;
    height: 45px;
    position: absolute;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    border-radius: 46px;
    background: #FFF;
    transition: 0.3s;
}

.form__input {
    width: 100%;
    height: fit-content;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.form__input_full_name {
    width: 100%;
    height: 53.6px;
    display: flex;
    position: relative;
    margin-bottom: 16px;
}

.form__input_first_name,.form__input_second_name {
    display: flex;
    width: 168px;
    height: 20px;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(30, 49, 115, 0.30);
    background: #FFF;
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */

}

.form__input_first_name {
    position: absolute;
    left: 40px;
}

.form__input_second_name {
    position: absolute;
    right: 40px;
}

.form__input_email,.form__input_password,.form__input_password_reat {
    display: flex;
    width: 384px;
    height: 20px;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(30, 49, 115, 0.30);
    background: #FFF;
    margin-bottom: 16px;
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}

.form__input_showPassword_1 {
    position: absolute;
    top: 156px;
    right: 56px;
    padding-left: 3px;
    background-color: white;
}

.form__input_showPassword_2 {
    position: absolute;
    top: 226px;
    right: 56px;
    padding-left: 3px;
    background-color: white;
}

.form__register {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__register_checkboxANDlabel {
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: start;

    margin-bottom: 32px;
}

.form__input_checkbox_label {
    width: 392px;
    height: 32px;
    color: #000;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */

    margin-left: 8px;
}

.form__input_checkbox_label a {
    color: #1E3173;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration-line: underline;
}

.form__input_sumbit {
    display: flex;
    width: 416px;
    padding: 12px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */

    margin-bottom: 32px;

    border-radius: 24px;
    background: rgba(30, 49, 115, 0.80);
    transition: 0.2s;
}

.form__input_sumbit:hover {
    background: #1E3173;
    transition: 0.2s;
}

.form__register_login {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    width: 100%;
    margin: 0px;
    padding-left: 40px;
    box-sizing: border-box;

}

.form__register_login a {
    color: #1E3173;
    text-decoration: none;
}